body{
  margin: 0;
  padding: 0;
}
canvas{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  
}
/* .sunnyTheme{
  transition-duration: 1s;
  background: rgb(0,255,236);
  background: linear-gradient(129deg, rgba(0,255,236,1) 0%, rgba(0,209,245,1) 52%, rgba(0,173,242,1) 100%);
}

.rainTheme{
  transition-duration: 1s;
  background: rgb(144,194,201);
  background: linear-gradient(351deg, rgba(144,194,201,1) 0%, rgba(90,123,129,1) 50%, rgba(30,43,42,1) 100%);
} */

#positioning{
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

#wheater-collection{
  /* border: 0.1vw solid gray; */
  position: relative;
  z-index: 2;
  width: 400px;
  height: 500px;
  background: rgb(238, 238, 238);
  border-radius: 30px;

  display: inline-block;
}



#logo{
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}
#sun-img{
  margin-left: 30px;
  position: absolute;
  width: 50px;
}
#title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 30px;
}

#wheater-data{
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  background: rgb(224, 224, 224);
}
#country-title{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#data{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
#search-div{
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#search-input{
  font-size: 10px;
  margin-right: 1%;
  width: 100px;
  height: 11px;
}
#search-button{
  font-size: 10px;
  width: 50px;
  height: 17px;
}
#description{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
hr{
  width: 200px;
  position: absolute;
  size: 3;
  background-color: black;
  box-shadow: none;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}